#img1x1{left: 356px;z-index:17; top: 455px;}
#img1x2{left: 696px;z-index:22; top: 550px;}
#img1x3{left: 290px;z-index:12; top: 652px;}
#img1x4{left: 287px;z-index:14; top: 577px;}
#img1x5{left: 1184px;z-index:37; top: 291px;}
#img1x6{left: 726px;z-index:40; top: 150px;}
#img1x7{left: 1064px;z-index:19; top: 408px;}
#img1x9{left: 784px;z-index:46; top: 226px;}
#img1x10{left: 696px;z-index:45; top: 42px;}
#img1x11{left: 784px;z-index:28; top: 479px;}
#img1x12{left: 213px;z-index:21; top: 464px;}
#img1x13{left: 273px;z-index:31; top: 282px;}
#img1x14{left: 570px;z-index:37; top: 473px;}
#img1x15{left: 524px;z-index:36; top: 441px;}
#img1x16{left: 662px;z-index:39; top: 432px;}
#img1x17{left: 413px;z-index:43; top: 379px;}
#img1x18{left: 344px;z-index:35; top: 349px;}
#img1x19{left: 388px;z-index:34; top: 318px;}
#img1x20{left: 626px;z-index:38; top: 498px;}
#img1x21{left: 274px;z-index:45; top: 390px;}
#img1x22{left: 505px;z-index:27; top: 226px;}
#img1x23{left: 461px;z-index:33; top: 284px;}
#img1x24{left: 166px;z-index:15; top: 308px;}
#img1x25{left: 538px;z-index:18; top: 157px;}
#img1x26{left: 447px;z-index:23; top: 85px;}
#img1x27{left: 565px;z-index:44; top: 146px;}
#img1x28{left: 71px;z-index:13; top: 535px;}


#img2x1{left: 307px;z-index:22; top: 318px;}
#img2x2{left: 126px;z-index:16; top: 331px;}
#img2x3{left: 185px;z-index:21; top: 307px;}
#img2x4{left: 76px;z-index:23; top: 240px;}
#img2x5{left: 265px;z-index:14; top: 350px;}
#img2x6{left: 247px;z-index:auto; top: 296px;}
#img2x7{left: 298px;z-index:55; top: 71px;}
#img2x9{left: 53px;z-index:19; top: 339px;}
#img2x10{left: 1011px;z-index:51; top: 408px;}
#img2x11{left: 656px;z-index:50; top: 55px;}
#img2x12{left: 509px;z-index:24; top: 63px;}


#img3x1{left: 200px;z-index:auto; top: 200px;}
#img3x2{left: 287px;z-index:87; top: 361px;}
#img3x3{left: 1177px;z-index:86; top: 389px;}
#img3x4{left: 1043px;z-index:85; top: 323px;}
#img3x5{left: 729px;z-index:84; top: 586px;}
#img3x6{left: 768px;z-index:83; top: 423px;}
#img3x7{left: 1026px;z-index:82; top: 468px;}
#img3x9{left: 625px;z-index:auto; top: 213px;}
#img3x10{left: 621px;z-index:79; top: 204px;}
#img3x11{left: 962px;z-index:72; top: 449px;}
#img3x12{left: 857px;z-index:78; top: 325px;}
#img3x13{left: 1176px;z-index:77; top: 239px;}
#img3x14{left: 942px;z-index:76; top: 571px;}
#img3x15{left: 880px;z-index:73; top: 541px;}
#img3x16{left: 217px;z-index:61; top: 457px;}
#img3x17{left: 328px;z-index:70; top: 166px;}
#img3x18{left: 417px;z-index:auto; top: 247px;}
#img3x19{left: 603px;z-index:69; top: 368px;}
#img3x20{left: 650px;z-index:68; top: 435px;}
#img3x21{left: 437px;z-index:auto; top: 340px;}
#img3x22{left: 534px;z-index:66; top: 385px;}
#img3x23{left: 820px;z-index:64; top: 145px;}
#img3x24{left: 432px;z-index:65; top: 127px;}
#img3x25{left: 717px;z-index:63; top: 184px;}

#img4x1{left: 200px;z-index:auto; top: 200px;}
#img4x2{left: 200px;z-index:auto; top: 200px;}
#img4x3{left: 1016px;z-index:88; top: 294px;}
#img4x4{left: 980px;z-index:89; top: -5px;}
#img4x5{left: 799px;z-index:106; top: 189px;}
#img4x6{left: 938px;z-index:101; top: 421px;}
#img4x7{left: 200px;z-index:auto; top: 200px;}
#img4x9{left: 321px;z-index:107; top: 415px;}
#img4x10{left: 722px;z-index:104; top: 17px;}
#img4x11{left: 200px;z-index:auto; top: 200px;}
#img4x12{left: 200px;z-index:auto; top: 200px;}
#img4x13{left: 460px;z-index:99; top: 201px;}
#img4x14{left: 471px;z-index:98; top: 285px;}
#img4x15{left: 551px;z-index:100; top: 190px;}
#img4x16{left: 596px;z-index:auto; top: 324px;}
#img4x17{left: 558px;z-index:96; top: 262px;}
#img4x18{left: 616px;z-index:94; top: 313px;}
#img4x19{left: 638px;z-index:92; top: 238px;}