/** ----------------------------------------------------------
 *
 * Contains the main layout of the page and the individual styles.
 * Acts as the main stylesheet for theme.
 *
 *		Include your notes or table of contents below....
 *		Include color hex's or values of your grid
 *
 *		1. OOCSS GRID
 *		2. MAIN LAYOUT
 *		3. HEADER
 *			- Brand
 *			- Search Form
 *		4. Navigation
 *			- Primary Navigation
 *			- tablet Navigation
 *			- Secondary Navigation
 *			- Secondary Nav 2-5 Levels deep
 *		5. Mixed
 *		6. Footer
 *		7. Page Specific Layout
 *			- Homepage
 *			- Search Results
 *		8. Device and Responsive Layout
 *			- Breakpoint 960px
 *			- Breakpoint 640px
 *				- Search Form
 *				- Main Content
 *		9. Print Styles
 *			- Simple Theme custom print styles
 *
 * @author Your Name <email@silverstripe.com>
 * ------------------------------------------------------- */


@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .dragimg img {
        width:50%;
        height:50%;
    }
}

/* OOCSS Grid
* https://github.com/stubbornella/oocss/wiki/grids
*/
 .but {
    display:none;
    z-index:1000;
    width:100px;
    height: 100px;
    position:absolute;
    background-color: red;
    right: 0px;
}
#plaatjes1, #plaatjes2, #plaatjes3, #plaatjes4, #plaatjes5, #plaatjes6 {
    padding:0;
    margin:0;
    overflow:hidden;
    width:1020px;
    height:768px;
    left:50%;
    margin-left:-510px;
    position:absolute;
}
.content {
    z-index:1;
    position:absolute;
}
.typography img {
    border:none;
    margin-top:-50px;
}
.dragimg {
    position:absolute;
    top:200px;
    left:200px;
}
/*.dragimg img{width:100%;height:100%;}*/
 #player1 {
    z-index:1;
    position:absolute;
    top:470px;
    left:200px;
    width: 460px;
    height: 120px;
}
#player2 {
    z-index:1;
    position:absolute;
    top:325px;
    left:390px;
    width: 460px;
    height: 120px;
}
#player3 {
    z-index:1;
    position:absolute;
    top:180px;
    left:110px;
    width: 460px;
    height: 120px;
}



#gigs {
    position: relative;
    top: 450px;
    left: 270px;
}
#plaatjes1 img {
    opacity: 0;
    transition: opacity .3s ease-in;
}
footer {
    width:100%;
    background-color: black;
}

.threedee {
    -moz-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(30deg, 0deg);
    -webkit-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(30deg, 0deg);
    -o-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(30deg, 0deg);
    -ms-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(30deg, 0deg);
    transform: scale(1) rotate(30deg) translate(0px, 0px) skew(30deg, 0deg);
}
.threedeetwo {
    -moz-transform: scale(1) rotate(330deg) translate(0px, 0px) skew(330deg, 0deg);
    -webkit-transform: scale(1) rotate(330deg) translate(0px, 0px) skew(330deg, 0deg);
    -o-transform: scale(1) rotate(330deg) translate(0px, 0px) skew(330deg, 0deg);
    -ms-transform: scale(1) rotate(330deg) translate(0px, 0px) skew(330deg, 0deg);
    transform: scale(1) rotate(330deg) translate(0px, 0px) skew(330deg, 0deg);
}
/* MAIN LAYOUT */
 body {
    margin: 0 !important;
    /*background: black;*/
    min-width: 240px;
    overflow-x:hidden;
    width:100%;
    background-color: rgb(23, 23, 23);
    -webkit-text-size-adjust: none;
    /* The text size is not adjusted for Safari on iPhone */
}
.even {
    background-color:rgb(23, 23, 23);
}
.oneven {
    background-color:rgb(34, 34, 34);
}
.onevenborder {
    height:13px;
    background-image: url("./images/border1.png");
}
.evenborder {
    height:13px;
    background-image: url("./images/border2.png");
}
#sidenav {
    width: auto;
    height: auto;
    position: fixed;
    z-index: 950;
    left: 0px;
    margin-top: -76px;
    top: 50%;
    font-weight: normal;
}
#godown{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#sidenav .text {
    font-size:27px;
    margin-left: 30px;
    padding-top:12px;
    border-bottom:4px solid rgba(255, 255, 255, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#sidenav .wrapper_sidenav {
    width: 100px;
    height: 44px;
    margin:0;
    padding:0;
    display: block;
    cursor:pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.point {
    float: left;
    height:44px;
    width:15px;
    opacity:0.2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.active .point{opacity:1;}

#sidenav .wrapper_sidenav[rel='home'] {
    width:104px;
}
#sidenav .wrapper_sidenav[rel='music'] {
    width:103px;
}
#sidenav .wrapper_sidenav[rel='shows'] {
    width:110px;
}
#sidenav .wrapper_sidenav[rel='info'] {
    width:70px;
}
#sidenav .active .text {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    padding-bottom: 5px;
}

#testintro{position: relative;
	left: 505px;top: 287px;width:300px;font-size:18px;font-family: SofiaProSemiBold}
.main {
    /*padding: 40px 0 60px;*/
    min-height: 700px;
    overflow-x:hidden;
}
/* HEADER */
 .header {
    /*	display: none;
*/
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index:1000000;
}
.header .inner {
    position: relative;
    min-height: 35px;
    margin-left:25px;
    margin-top:25px;
}


/* DEVICE & RESPONSIVE LAYOUT */
 .header .nav-open-button {
    display: none;
    /* removes the nav toggle button for desktop site */
}
#media-query-trigger {
    /* instead of detecting the width of the window in simple/javascript/script.js it detects the visibility of this element (which is set using media queries)
    instead to trigger the hiding/showing of nav and search in mobile mode */
    display: none;
    visibility: hidden;
}


