# Enable mod_rewrite
#RewriteEngine on

# Froce HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule ^/?(.*)$ https://riverdistrict.breun.nl/$1 [R=301,L]

# Force redirect to riverdistrict.breun.nl
#RewriteCond %{HTTP_HOST} !^riverdistrict\.breun\.nl$ [NC]
#RewriteRule ^/?(.*)$ https://riverdistrict.breun.nl/$1 [R=301,L]
