# Enable mod_rewrite
#RewriteEngine on

# Force redirect to riverdistrict.breun.nl
RewriteCond %{HTTP_HOST} !^riverdistrict\.breun\.nl$ [NC]
RewriteRule ^(.*)$ http://riverdistrict.breun.nl/$1 [R=301,L]
